CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

iOS/archive
iOS/curl/curl-*
iOS/curl/iOS
iOS/nghttp2/nghttp2-*
iOS/nghttp2/iOS
iOS/openssl/openssl-*
iOS/openssl/iOS

Android/openssl/openssl-*
Android/openssl/build/*
Android/curl/curl-*
Android/curl/build