CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

archive
curl/curl-*
curl/iOS
nghttp2/nghttp2-*
nghttp2/iOS
openssl/openssl-*
openssl/iOS